// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recipe-border {
  border: 3px solid black;
}

.card-title {
  font-family: "Brandon Grotesque Regular", Helvetica, Arial, Sans-Serif;
  color: #666666;
  font-size: 13px;
  text-transform: uppercase;
}