<h1>Inbox</h1>
<ul class="list-group">
  <% @conversations.each do |conversation| %>
    <li class="list-group-item"><%= link_to conversation.recipient(current_user).username, conversation_messages_path(conversation) %>
      <% if !conversation.unread_message_count(current_user).zero? %>
        <span class="tag tag-info tag-pill"><%= conversation.unread_message_count(current_user) %></span>
      <% end %>
    </li>
  <% end %>
</ul>


<h2>Users</h2>
<ul>
  <% @users.each do |user| %>
    <li><%= link_to user.username, conversations_path(sender_id: current_user.id, receiver_id: user.id), method: :post %></li>
  <% end %>
</ul>
