<div class="card">
  <div class="card-block">
    <h4 class="card-title"><%= user.username %></h4>
    <span><%= image_tag user.profile_image.thumb.url %></span>
    <p class="card-text"><small class="text-muted">Last updated <%= distance_of_time_in_words(Time.now, user.updated_at) %> ago</small></p>
    <span><%= link_to 'Show', user %></span>
  </div>
</div>