

    <main>
      <!-- <div class="shader"></div> -->
      <div class="centered">
        <h1 id = "home-say">Welcome To <br>
       Chetan's CooK Book</h1>
      </div>
    </main>
    


    <div class="fullscreen-bg">
        <video loop muted autoplay poster="/assets/whiskey-ss.png" class="fullscreen-bg__video">
            
            <source src="/assets/Whiskey.mp4" type="video/mp4">
        </video>
    </div>















<div class="login-button"><%= link_to "Sign In", login_path%>
<%= link_to "Register", register_path%>
</div> 







