// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recipe-picture {
  border: 3px solid black;
}

.recipe-card {
  text-align: center;
  height: 410px;
  width: 320px;
}

.card-block {
    
}

.card-title {
  font-family: "Brandon Grotesque Regular", Helvetica, Arial, Sans-Serif;
  color: #666666;
  font-size: 13px;
  text-transform: uppercase;
}


.btn-primary {
    color: #fff;
    background-color: #9bd0ed;
    // border-color: #0275d8;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: black;
    text-align: center;
}



strong {
   font-weight: bolder;
   color: #666666;
}


.list-group-item:last-child {
    font-size: 20px;
    padding: 40px;
}






















