// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.users-index {
  border-radius: 100%;
}

.card-block {
    text-align: center;

}

.user-image {
  border-radius: 100px;
  float: left;
  margin-left: 0;  
}

.inline {
  display: inline-block;
}





// img {
//     vertical-align: middle;
//     border-radius: 100px;
// }